.features {
  padding: 115px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  min-height: 950px;

  &__card {
    max-width: 31.6239%;
    text-align: center;

    img {
      width: 100px;
      height: 100px;
    }

    .heading {
      font-size: 24px;
      font-family: 'Raleway', sans-serif;
      font-weight: 900;
      margin-top: 30px;
      padding-top: 20px;
      width: 100%;
      min-height: 20%;
      text-transform: uppercase;
      color: #2D3033;
    }

    .desc {
      font-size: 18px;
      font-family: 'Raleway', sans-serif;
      font-weight: 400;
      width: 100%;
      padding-top: 20px;
      color: #6C7279;
    }
  }
}